google_fit/node_modules/
google_fit/.expo-shared
google_fit/npm-debug.*
google_fit/*.jks
google_fit/*.p8
google_fit/*.p12
google_fit/*.key
google_fit/*.mobileprovision
google_fit/*.orig.*
google_fit/web-build/
google_fit/.DS_Store
google_fit/assets/
google_fit/package-lock.json
google_fit/babel.config.js
google_fit/config.js
google_fit/.expo
google_fit/android
google_fit/ios
google_fit/metro.config.js
.idea/
google_fit/Google fit
google_fit/.gradle/
google_fit/caches/
google_fit/daemon/
google_fit/native/
google_fit/wrapper/



